//==============================================
// Layout/header
//==============================================

.Baljan__header {
	margin-top: $margin;
}
.navbar-brand {
  padding-right: 10px;
}
.navbar {
  ul {
    li
    {
      a {
        font-family: $font-second;
        color: $dark-blue;
        font-size: 1.2rem;
        border: 2px solid transparent;

        &:hover {
          color: $blue;
          // background: $pink;
          // border: 2px solid $pink;
          // border-radius: 5px;
          i {
            // color: $dark-blue;
            opacity: 0.8;
          }
          // &:after {
          //   transform: scaleX(0.7);
          // }
        }

        i {
          color: $pink;
          margin-right: 5px;
          font-size: 1.5rem;
        }

        // &:after {
        //   display:block;
        //   content: '';
        //   border-bottom: solid 3px $pink;
        //   transform: scaleX(0);
        //   border-radius: 25px;
        //   transition: transform 250ms ease-in-out;
        //   margin-top: 5px;
        // }
      }
    }
  }

}

.contact-btn {
  font-weight: bold;
  margin-right: $margin;
  color: $dark-blue;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}
